html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

    background-color: var(--ok-color);
    color: var(--main-text-color);
    border-radius: 5px;
    border-width: 0;
}

button:disabled {
    background-color: var(--secondary-light-color);
}

table {
    width: 100%;
}

.imageTd {
    width: 100px;
    height: 100px;
}

.tagTd {
    vertical-align: top;
    text-align: left;
}