html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
}

.imageTd {
    width: 100px;
    height: 100px;
}

.tagTd {
    vertical-align: top;
    text-align: left;
}