.tag {
    background-color: var(--secondary-light-color);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    line-height: 35px;
}

.tagActive {
    background-color: var(--ok-color);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    line-height: 35px;
}

.mainTag {
    background-color: var(--secondary-light-color);
    border-radius: 5px;
    padding: 8px;
    margin: 2px;
    line-height: 40px;
}

.mainTagActive {
    background-color: var(--ok-color);
    border-radius: 5px;
    padding: 8px;
    margin: 2px;
    line-height: 40px;
}